body {
    margin-bottom: 85px;
    font-size: 12px;
}


#page {
border: 1px solid #DDD;
border-radius: 5px;
margin-top: 75px;
min-height: 50vh;
margin-bottom: 15px;
padding: 15px;

}

#footer {
    border-top: 1px solid #DDD;
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: fixed;
    width: 100%;
}

.admin-login-form {
    width: 450px;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 15px;
    margin: 15px auto;

}

.list-group-item-tree label {
    font-weight: normal;
    display: block;
    padding-top: 5px;

}
.list-group-tree {
    padding: 0;
    margin: 0;
    list-style-type: none;
}



.list-group-item-tree {
    list-style-type: none;
    font-weight: normal;
    border-top: 1px solid #DDD;
}

.btn-square-small {
    width: 20px;
    height: 20px;
    display:inline-block;
    text-align: center;
    line-height: 20px;
    font-size:12px;
    float: right;
    margin-left: 2px;
}
.list-group-tree .list-group-tree label {
    padding-left: 15px;
}

.list-group-tree .list-group-tree .list-group-tree label {
    padding-left: 30px;
}

.list-group-tree .list-group-tree .list-group-tree .list-group-tree label {
    padding-left: 45px;
}

.list-group-tree .list-group-tree .list-group-tree .list-group-tree .list-group-tree label {
    padding-left: 45px;
}

.item-list-actions .btn {
    float: right;
    margin:2px;
}
.item-list-actions hr {
    clear: both;
}

.date-done-property {
    text-align: right;
    font-family: "Courier New", Courier, monospace;
    font-size: 10px;
}

hr {
    margin-bottom: 10px;
    margin-top: 10px;
}